# Package artifacts.
package-lock.json
pnpm-lock.yaml
node_modules/

# Build artifacts.
build/

# documentation artifacts.
.docusaurus/

# Various editor preferences.
.vscode
.idea/

# Random crap.
.DS_Store
